<template>
  <v-container class="footer">
    <v-dialog v-model="dialog" v-if="dialog" max-width="350">
      <v-card>
        <v-card-title class="headline">O autorze</v-card-title>
        <v-card-text>Aplikacja wykonana przez:</v-card-text>
        <v-card-text>Magdalenę Bukowską</v-card-text>
        <v-card-text>w ramach pracy dyplomowej</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="info-button" @click="dialog = true">About author</div>
  </v-container>
</template>

<script>
  export default {
    data() {
      return {
        dialog: false
      }
    },
  }
</script>

<style lang="scss" scoped>
  .info-button {
    color: grey;
    cursor: pointer !important;
  }

  .info-button :hover {
    color: black;
  }
</style>
