<template>
  <v-app-bar app dark>
    <div class="d-flex align-center">
      <router-link v-if="loggedIn" :to="{ name: 'Home' }" class="route">
        <v-btn text class="route-button">Ostrzeżenn!k</v-btn>
      </router-link>
      <router-link v-else :to="{ name: 'Greeting' }" class="route">
        <v-btn text class="route-button">Ostrzeżenn!k</v-btn>
      </router-link>
    </div>

    <v-spacer></v-spacer>
    <ul v-if="loggedIn && role <= admin">
      <router-link :to=" { name: 'AdminPanel' }" class="route">
        <v-btn text class="route-button">Panel</v-btn>
      </router-link>
    </ul>

    <ul v-if="loggedIn">
      <router-link v-for="authRoute in authRoutes" :key="authRoute.label"
                   :to=" { name: authRoute.name }" class="route">
        <v-btn text class="route-button">{{ authRoute.label }}</v-btn>
      </router-link>

      <v-btn text class="route-button" @click="logout()">Logout</v-btn>
    </ul>
    <ul v-else>
      <router-link v-for="guestRoute in guestRoutes" :key="guestRoute.label"
                   :to=" { name: guestRoute.name }" class="route">
        <v-btn text class="route-button">{{ guestRoute.label }}</v-btn>
      </router-link>
    </ul>
  </v-app-bar>
</template>

<script>
  export default {
    computed: {
      loggedIn() {
        return this.$store.getters.passAuthData
      },
    },

    data() {
      return {
        role: this.$auth.getUserRole(),
        admin: 2,
        authRoutes: [
          {label: "Search", name: "SearchEntries"},
          {label: "Entries", name: "Home"},
          {label: "Add Entry", name: "AddEntry"},
        ],
        guestRoutes: [
          {label: "Search", name: "SearchEntries"},
          {label: "Entries", name: "Home"},
          {label: "Login", name: "Login"},
          {label: "Register", name: "Registration"},
        ],
      }
    },

    methods: {
      async logout() {
        this.$http.post("logout", null)
            .then(() => {
              this.$auth.destroyUserData();
              this.loggedOutMessage();
              this.$router.push({name: "Greeting"});
            })
      },

      loggedOutMessage() {
        this.$message({
          message: "Successfully logged out",
          showClose: true,
          duration: 2500,
          type: 'success'
        })
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
