<template>
  <v-container class="text-center">
    <v-progress-circular class="loader" indeterminate color="primary"/>
  </v-container>
</template>
<script>
  export default {
    created() {
      this.activate()
    },

    methods: {
      activate() {
        let token = this.$route.params.token
        this.$http.post("/activateAccount/" + token).then(() => {
          this.accountActivatedMessage()
          this.$router.push({name: "Login"});
        }).catch(() => {
          this.accountActivationFailedMessage()
          this.$router.push({name: "Login"});
        })
      },
      accountActivatedMessage() {
        this.$message({
          message: "Successfully activated account",
          showClose: true,
          duration: 3500,
          type: 'success'
        })
      },
      accountActivationFailedMessage() {
        this.$message({
          message: "Failed to activate the account",
          showClose: true,
          duration: 3000,
          type: 'error'
        })
      },
    }
  }
</script>
<style lang="scss" scoped>
  .loader {
    margin-top: 50px;
  }
</style>
