<template>
  <v-container>
    <form v-on:submit.prevent="submit()">
      <v-textarea v-model="content"
                  :error-messages="contentErrors"
                  label="What are your thoughts?"
                  required
                  counter="500"
                  @input="$v.content.$touch()"
                  @blur="$v.content.$touch()"/>

      <v-row class="buttons">
        <v-btn class="mr-4 submit-button" type="submit" :disabled="loading" :loading="loading" dark>submit</v-btn>
        <v-btn @click="clear" class="clear-button" dark>clear</v-btn>
      </v-row>
    </form>
  </v-container>
</template>
<script>
  import {validationMixin} from 'vuelidate'
  import {maxLength, minLength, required} from 'vuelidate/lib/validators'

  export default {
    mixins: [validationMixin],

    validations: {
      content: {required, minLength: minLength(3), maxLength: maxLength(500)},
    },

    data() {
      return {
        content: '',
        loading: false,
      }
    },

    props: {
      entryId: {required: true},
    },

    computed: {
      contentErrors() {
        const errors = []
        if (!this.$v.content.$dirty) return errors
        !this.$v.content.required && errors.push('Comment content is required.')
        return errors
      },
    },

    methods: {
      submit() {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          this.loading = true;
          let data = {
            content: this.content,
          };
          this.$http.post("comment/" + this.entryId, data).then(() => {
            this.commentAddedMessage();
            this.loading = false;
            this.$emit("refetchComments");
            this.clear()
          }).catch(() => {
            this.commentAddFailedMessage();
            this.loading = false;
          })
        }
      },
      clear() {
        this.$v.$reset()
        this.content = ''
      },
      commentAddedMessage() {
        this.$message({
          message: "Successfully added comment",
          showClose: true,
          duration: 4000,
          type: 'success'
        })
      },
      commentAddFailedMessage() {
        this.$message({
          message: "Failed to add comment",
          showClose: true,
          duration: 4000,
          type: 'error'
        })
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .buttons {
    padding: 15px;

    .submit-button {
      background: $secondaryRed !important;
    }
    .clear-button {
      background: $blue !important;
    }
  }
</style>
