<template>
  <v-container>
    <form v-on:submit.prevent="submit()">
      <v-text-field v-model="title"
                    :error-messages="titleErrors"
                    label="Title"
                    required
                    @input="$v.title.$touch()"
                    @blur="$v.title.$touch()"/>

      <v-select v-if="categories.length"
                v-model="category"
                :items="categories"
                label="Category"
                item-value="id"
                item-text="name"
                dense/>

      <v-textarea v-model="description"
                  :error-messages="descriptionErrors"
                  label="Description"
                  required
                  counter="1000"
                  @input="$v.description.$touch()"
                  @blur="$v.description.$touch()"/>

      <v-text-field v-model="address"
                    :error-messages="addressErrors"
                    label="City"
                    required
                    @input="$v.address.$touch()"
                    @blur="$v.address.$touch()"/>

      <v-switch v-model="addLocation" label="Add location" value="Add location"/>

      <add-map class="map" v-if="addLocation" :marker="marker"/>

      <v-menu v-model="menu" :close-on-content-click="false" max-width="290">
        <template v-slot:activator="{ on }">
          <v-text-field :value="formattedDate"
                        label="Visit date" readonly v-on="on" @click:clear="date = null"/>
        </template>

        <v-date-picker v-model="date" locale="pl" :first-day-of-week="1"
                       @change="menu = false"/>
      </v-menu>

      <div v-for="message in pictureMessages" :key="message">
        <p class="error-message" v-if="picture">{{ message }}</p>
      </div>

      <v-file-input :rules="rules" accept="image/png, image/jpeg, image/jpg, image/bmp"
                    v-on:change="fileSelected($event)" enctype="multipart/form-data"
                    placeholder="Pick an image" prepend-icon="mdi-camera" label="Picture"/>

      <v-btn class="mr-4 submit-button" type="submit" :disabled="loading" :loading="loading" dark>submit</v-btn>
      <v-btn @click="clear" class="clear-button" dark>clear</v-btn>
    </form>
  </v-container>
</template>
<script>
  import {validationMixin} from 'vuelidate'
  import {maxLength, minLength, required} from 'vuelidate/lib/validators'
  import AddMap from "./AddMap";

  const DEFAULT_X = 51.21006;
  const DEFAULT_Y = 16.1619;

  export default {
    components: {
      AddMap
    },

    mixins: [validationMixin],

    validations: {
      title: {required, minLength: minLength(3), maxLength: maxLength(100)},
      description: {required, minLength: minLength(3), maxLength: maxLength(1000)},
      address: {required, minLength: minLength(3), maxLength: maxLength(50)},
    },

    data() {
      return {
        addLocation: false,
        title: '',
        description: '',
        address: '',
        category: '',
        marker: {
          position: {lat: DEFAULT_X, lng: DEFAULT_Y}
        },
        picture: null,
        pictureMessages: null,
        loading: false,
        entryId: null,
        categories: [],
        date: new Date().toISOString().substr(0, 10),
        menu: false, rules: [
          value => !this.picture || value.size < 2000000 || 'Image size should be less than 2 MB!',
        ],
      }
    },

    computed: {
      formattedDate() {
        return this.date ? this.moment(this.date).format('dddd, MMMM Do YYYY') : ''
      },
      titleErrors() {
        const errors = []
        if (!this.$v.title.$dirty) return errors
        !this.$v.title.required && errors.push('Title is required.')
        return errors
      },
      descriptionErrors() {
        const errors = []
        if (!this.$v.description.$dirty) return errors
        !this.$v.description.required && errors.push('Description is required.')
        return errors
      },
      addressErrors() {
        const errors = []
        if (!this.$v.description.$dirty) return errors
        !this.$v.description.required && errors.push('Address is required.')
        return errors
      },
    },

    created() {
      this.fetchCategories()
    },

    methods: {
      async fetchCategories() {
        this.$http.get("categories").then(response => {
          this.categories = response.data
        })
      },
      submit() {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          if (!this.picture) {
            this.saveEntry();
          } else {
            this.testPicture();
          }
        }
      },
      saveEntry() {
        this.loading = true;
        let data = {
          title: this.title,
          description: this.description,
          address: this.address,
          categoryId: this.category,
          visitDate: this.date,
        };

        if(this.addLocation) {
          data.location = {
            x: this.marker.position.lat,
            y: this.marker.position.lng,
          }
        }

        this.$http.post("entry", data).then(response => {
          this.entryId = response.data.entry.id
          if (this.picture) {
            this.uploadPicture();
          } else {
            this.loading = false;
            this.entryAddedMessage();
            this.$router.push({name: "Home"});
          }
        }).catch(() => {
          this.entryAddFailedMessage();
          this.loading = false;
        })
      },
      testPicture() {
        let formData = new FormData();
        formData.append("picture", this.picture);

        this.$http.post("picture/validate", formData).then(() => {
          this.saveEntry()
        }).catch(error => {
         this.pictureMessages = error.response.data.messages.picture
        })
      },
      uploadPicture() {
        let formData = new FormData();
        formData.append("picture", this.picture);

        this.$http.post("entry/" + this.entryId + "/picture", formData).then(() => {
          this.entryAddedMessage();
          this.loading = false;
          this.$router.push({name: "Home"});
        }).catch(() => {
          this.entryAddFailedMessage();
          this.loading = false;
        })
      },
      clear() {
        this.$v.$reset()
        this.title = ''
        this.description = ''
        this.address = ''
        this.category = ''
        this.loading = false
        this.categories = []
        this.date = new Date().toISOString().substr(0, 10)
        this.menu = false
      },
      entryAddedMessage() {
        this.$message({
          message: "Successfully added entry",
          showClose: true,
          duration: 4000,
          type: 'success'
        })
      },
      entryAddFailedMessage() {
        this.$message({
          message: "Failed to add entry",
          showClose: true,
          duration: 4000,
          type: 'error'
        })
      },
      fileSelected(event) {
        this.picture = event;
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .error-message {
    color: $mainRed;
  }

  .map {
    padding-bottom: 50px;
  }

  .submit-button {
    background: $secondaryRed !important;
  }

  .clear-button {
    background: $blue !important;
  }
</style>
