<template>
  <div class="wrapper" v-if="marker">
    <l-map :zoom="zoom" :center="center">
      <l-tile-layer :url="url" :attribution="attribution"/>
      <l-marker :lat-lng="marker.position" :draggable="true"/>
    </l-map>
  </div>
</template>
<script>
  import {LMap, LMarker, LTileLayer} from 'vue2-leaflet'
  import L from 'leaflet';

  delete L.Icon.Default.prototype._getIconUrl;

  L.Icon.Default.mergeOptions({
    iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
    iconUrl: require('leaflet/dist/images/marker-icon.png'),
    shadowUrl: require('leaflet/dist/images/marker-shadow.png')
  });

  export default {
    components: {LMap, LTileLayer, LMarker},

    props: {
      marker: {required: true, type: Object}
    },

    data() {
      return {
        zoom:13,
        center: L.latLng(51.21006, 16.1619),
        url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      }
    },
    methods: {
      zoomUpdated(zoom) {
        this.zoom = zoom;
      },
      centerUpdated(center) {
        this.center = center;
      },
      boundsUpdated(bounds) {
        this.bounds = bounds;
      }
    }
  }
</script>
<style lang="scss" scoped>
  .wrapper {
    width: 100%;
    height: 400px;
  }
</style>
