<template>
  <div>
    <v-tabs fixed-tabs background-color="#f1f0ee">
      <v-tab @click="shownTab = 'users'">Users</v-tab>
      <v-tab @click="shownTab = 'entries'">Entries</v-tab>
      <v-tab @click="shownTab = 'comments'">Comments</v-tab>
    </v-tabs>

    <users-panel v-if="shownTab === 'users'"/>
    <entries-panel v-if="shownTab === 'entries'"/>
    <comments-panel v-if="shownTab === 'comments'"/>
  </div>
</template>
<script>
  import UsersPanel from "./UsersPanel";
  import EntriesPanel from "./EntriesPanel";
  import CommentsPanel from "./CommentsPanel";

  export default {
    components: {
      UsersPanel,
      EntriesPanel,
      CommentsPanel
    },

    data: () => ({
      shownTab: "comments",
    })
  }
</script>
<style lang="scss" scoped>

</style>
