<template>
  <v-container>
    <v-dialog v-model="dialog" v-if="dialog === 'delete'" max-width="350">
      <v-card>
        <v-card-title class="headline">Should this be deleted?</v-card-title>
        <v-card-text>Comment: <p>{{ selectedComment.comment.content }}</p></v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="remove()">Delete</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" v-if="dialog === 'dismiss'" max-width="350">
      <v-card>
        <v-card-title class="headline">Should this be dismissed?</v-card-title>
        <v-card-text>Comment: <p>{{ selectedComment.comment.content }}</p></v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dismiss()">Dismiss</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="management" v-if="reports">
      <v-data-table :headers="headers" :items="reports" :items-per-page="25"
                    class="elevation-1" hide-default-footer>
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Flagged comments</v-toolbar-title>
          </v-toolbar>
        </template>
        <template v-slot:item.content="{ item }">
          {{ item.comment.content.slice(0, 50) }}...
        </template>
        <template v-slot:item.createdAt="{ item }">
          {{ moment(item.comment.createdAt.date).format('YYYY-MM-DD hh:mm') }}
        </template>
        <template v-slot:item.action="{ item }">
          <v-icon @click.stop="selectComment(item, 'dismiss')" color="green">mdi-checkbox-marked-circle-outline
          </v-icon>
          <v-icon @click.stop="selectComment(item, 'delete')" color="red">mdi-close-circle-outline</v-icon>
        </template>
      </v-data-table>
    </div>

    <div class="text-xs-center">
      <v-pagination
              class="pagination"
              circle
              v-model="page"
              :length="totalPages"
              :total-visible="5"
              prev-icon="mdi-menu-left"
              next-icon="mdi-menu-right"/>
    </div>
  </v-container>
</template>
<script>
  export default {
    data: () => ({
      dialog: false,
      reports: [],
      headers: [
        {text: "Reports", value: "reportsNumber", sortable: false},
        {text: "Content", value: "content", align: "left", sortable: false},
        {text: "Author", align: "left", value: "comment.user.username", sortable: false},
        {text: "Added", value: "createdAt", sortable: false},
        {text: 'Actions', value: 'action', sortable: false},
      ],
      page: 1,
      totalPages: null,
      selectedComment: null,
    }),

    created() {
      this.fetchFlaggedEntries();
    },

    watch: {
      "page": function () {
        this.fetchFlaggedEntries();
      },
    },

    methods: {
      async fetchFlaggedEntries() {
        this.$http.get("admin/flaggedComments/" + (this.page - 1))
            .then(response => {
              this.reports = response.data.comments;
              this.totalPages = response.data.totalPages;
              this.scrollToTop();
            });
      },

      selectComment(comment, action) {
        this.selectedComment = comment;
        this.dialog = action;
      },

      remove() {
        this.$http.post("admin/comment/delete", {commentId: this.selectedComment.comment.id})
            .then(() => {
              this.close();
              this.fetchFlaggedEntries();
              this.successMessage("deleted")
            })
            .catch(() => {
              this.failedMessage("delete")
              this.close();
            });
      },

      dismiss() {
        this.$http.post("admin/comment/dismiss", {reportId: this.selectedComment.id})
            .then(() => {
              this.close();
              this.fetchFlaggedEntries();
              this.successMessage("dismissed")
            })
            .catch(() => {
              this.failedMessage("dismiss")
              this.close();
            });
      },

      successMessage(action) {
        this.$message({
          message: "Successfully " + action + " comment",
          showClose: true,
          duration: 2500,
          type: 'success'
        })
      },

      failedMessage(action) {
        this.$message({
          message: "Failed to " + action + " comment",
          showClose: true,
          duration: 2000,
          type: 'error'
        })
      },

      close() {
        this.selectedComment = null;
        this.dialog = null;
      },

      scrollToTop() {
        setTimeout(() => {
          window.scroll({
            top: 0,
            left: 0,
            behavior: "smooth"
          });
        }, 100);
      },
    },
  }
</script>
<style lang="scss" scoped>

</style>
