<template>
  <v-container>
    <v-dialog v-model="dialog" v-if="dialog === 'delete'" max-width="350">
      <v-card>
        <v-card-title class="headline">Should this be deleted?</v-card-title>
        <v-card-text>Comment: <p>{{ selectedComment.content }}</p></v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="deleteComment()">Delete</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" v-if="dialog === 'report'" max-width="350">
      <v-card>
        <v-card-title class="headline">Should this be reported?</v-card-title>
        <v-card-text>Comment: <p>{{ selectedComment.content }}</p></v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="flagComment()">Report</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div v-if="comments && comments.length">
      <div v-for="comment in comments" :key="comment.id" class="comment-wrapper">
        <v-card class="mx-auto">
          <v-card-title v-if="comment.user" class="username">{{ comment.user.username }}</v-card-title>

          <v-card-text v-if="comment.modDeleted">Comment deleted by moderator</v-card-text>
          <v-card-text v-else-if="comment.authorDeleted">Comment deleted by the author</v-card-text>
          <v-card-text v-else>{{ comment.content }}</v-card-text>

          <v-row align="center" no-gutters>
            <v-col class="md-6">
              <v-card-text v-if="!comment.modDeleted && !comment.authorDeleted">
                <p v-if="comment.createdAt" class="created-at">Created at:
                  {{ moment(comment.createdAt.date).format('DD-MM-YYYY hh:mm') }}</p>
              </v-card-text>
            </v-col>

            <v-spacer/>

            <v-col class="md-6 buttons" v-if="loggedIn">
              <v-card-actions icon v-if="!comment.modDeleted && !comment.authorDeleted">
                <v-btn v-if="comment.user && comment.user.id === authId" icon @click="openModal('delete', comment)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>

                <v-btn icon :color="getFlagColor(comment.selfFlagged)" @click="openModal('report', comment)">
                  <v-icon>mdi-flag-variant</v-icon>
                </v-btn>

                <v-btn fab x-small :color="getLikeColor(comment.selfLiked)" @click="likeComment(comment)">
                  <v-icon>mdi-thumb-up</v-icon>
                </v-btn>
                <v-btn fab x-small :color="getDislikeColor(comment.selfDisliked)" @click="dislikeComment(comment)">
                  <v-icon>mdi-thumb-down</v-icon>
                </v-btn>

                <v-list-item-subtitle class="counter"
                                      v-if="!isNaN(countLikes(comment.likesCount, comment.dislikesCount))">
                  {{ countLikes(comment.likesCount, comment.dislikesCount) }}
                </v-list-item-subtitle>
              </v-card-actions>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </div>

    <div v-else>
      <h2>There are no other users' comments yet.</h2>
    </div>
  </v-container>
</template>
<script>
  export default {
    props: {
      comments: {type: Array, required: true},
      loggedIn: {type: Object},
      authId: {type: Number},
    },
    mounted() {
      this.scroll();
    },
    data() {
      return {
        selectedComment: null,
        dialog: false,
      }
    },
    methods: {
      likeComment(comment) {
        this.$http.post("like/comment/" + comment.id).then(() => {
          if (comment.selfLiked) {
            comment.selfLiked = false
            comment.likesCount--
          } else if (comment.selfDisliked) {
            comment.selfDisliked = false
            comment.dislikesCount--
            comment.selfLiked = true
            comment.likesCount++
          } else {
            comment.selfLiked = true
            comment.likesCount++
          }
        })
      },
      dislikeComment(comment) {
        this.$http.post("dislike/comment/" + comment.id).then(() => {
          if (comment.selfDisliked) {
            comment.selfDisliked = false
            comment.dislikesCount--
          } else if (comment.selfLiked) {
            comment.selfLiked = false
            comment.selfDisliked = true
            comment.likesCount--
            comment.dislikesCount++
          } else {
            comment.selfDisliked = true
            comment.dislikesCount++
          }
        })
      },
      getLikeColor(action) {
        return action ? "#7acfd6" : "#f1f0ee"
      },
      getDislikeColor(action) {
        return action ? "#e0474c" : "#f1f0ee"
      },
      getFlagColor(action) {
        return action ? "#e0474c" : ""
      },
      flagComment() {
        if (!this.selectedComment.selfFlagged) {
          this.$http.post("flag/comment/" + this.selectedComment.id).then(() => {
            this.selectedComment.selfFlagged = true
            this.reportedMessage()
            this.close();
          }).catch(() => {
            this.close();
            this.reportFailedMessage()
          })
        }
      },
      openModal(action, comment) {
        this.selectedComment = comment;
        this.dialog = action;
      },
      reportedMessage() {
        this.$message({
          message: "Successfully reported the comment",
          showClose: true,
          duration: 2500,
          type: 'success'
        })
      },
      reportFailedMessage() {
        this.$message({
          message: "Failed to delete the comment",
          showClose: true,
          duration: 2000,
          type: 'error'
        })
      },
      deleteComment() {
        this.$http.delete("comment/" + this.selectedComment.id).then(() => {
          this.deletedMessage();
          this.close();
          this.$emit("refetchComments");
        }).catch(() => {
          this.deletionFailedMessage();
          this.close();
        })
      },
      deletedMessage() {
        this.$message({
          message: "Successfully deleted the comment",
          showClose: true,
          duration: 2500,
          type: 'success'
        })
      },
      deletionFailedMessage() {
        this.$message({
          message: "Failed to delete the comment",
          showClose: true,
          duration: 2000,
          type: 'error'
        })
      },
      scroll() {
        window.onscroll = () => {
          let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;

          if (bottomOfWindow) {
            this.$emit("fetchComments");
          }
        };
      },
      countLikes(likes, dislikes) {
        return likes - dislikes;
      },
      close() {
        this.selectedComment = null;
        this.dialog = null;
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .comment-wrapper {
    padding-bottom: 15px;

    h2 {
      padding-bottom: 25px;
    }

    .username {
      color: $mainRed;
    }

    .created-at {
      font-size: .8rem;
    }
  }

  .buttons {
    .counter {
      padding-left: 15px;
      padding-right: 135px;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
</style>
