<template>
  <div class="wrapper">
    <v-dialog v-model="dialog" v-if="dialog === 'delete'" max-width="350">
      <v-card>
        <v-card-title class="headline">Should this be deleted?</v-card-title>
        <v-card-text>Entry: <p>{{ selectedEntry.title }}</p></v-card-text>
        <v-card-text>Description: <p>{{ selectedEntry.description }}</p></v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="deleteEntry()">Delete</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" v-if="dialog === 'report'" max-width="350">
      <v-card>
        <v-card-title class="headline">Should this be reported?</v-card-title>
        <v-card-text>Entry: <p>{{ selectedEntry.title }}</p></v-card-text>
        <v-card-text>Description: <p>{{ selectedEntry.description }}</p></v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="flagEntry()">Report</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-container class="container" v-if="entry">
      <v-row align="center" no-gutters>
        <v-col md="4">
          <div class="picture-wrapper">
            <v-img class="picture" v-if="entry.picture" :src="getImage(entry.picture)"/>
            <div v-else>
              <v-container class="text-center camera-icon">
                <v-icon large class="icon">mdi-camera</v-icon>
              </v-container>
            </div>
          </div>

          <div class="buttons">
            <v-row>
              <v-card-actions icon v-if="loggedIn">
                <v-btn fab x-small :color="getLikeColor(entry.selfLiked)" @click="likeEntry(entry.id)">
                  <v-icon>mdi-plus</v-icon>
                </v-btn>

                <v-btn fab x-small :color="getDislikeColor(entry.selfDisliked)" @click="dislikeEntry(entry.id)">
                  <v-icon>mdi-minus</v-icon>
                </v-btn>

                <v-list-item-subtitle class="counter" v-if="!isNaN(countLikes(entry.likesCount, entry.dislikesCount))">
                  {{ countLikes(entry.likesCount, entry.dislikesCount) }}
                </v-list-item-subtitle>

                <v-btn v-if="entry.user && entry.user.id === authId"
                       icon @click="openModal('delete', entry)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
                <v-btn icon
                       :color="getFlagColor(entry.selfFlagged)"
                       @click="openModal('report', entry)">
                  <v-icon>mdi-flag-variant</v-icon>
                </v-btn>
              </v-card-actions>
            </v-row>
          </div>
        </v-col>

        <v-col md="8">
          <div class="entry-details">
            <h1>{{ entry.title }}</h1>
            <p v-if="entry.user" class="author">by: {{ entry.user.username }}</p>

            <p class="description">{{ entry.description }}</p>
            <p>Address: {{ entry.address }}</p>
            <p>Visit date: {{ moment(entry.visitDate).format('DD-MM-YYYY') }}</p>
            <p v-if="entry.category">Category: {{ entry.category.name }}</p>
            <p class="created-at" v-if="entry.createdAt">
              Entry created at: {{ moment(entry.createdAt.date).format('DD-MM-YYYY hh:mm')}}
            </p>
          </div>
        </v-col>
      </v-row>

      <map-component v-if="location && location.x && location.y" :location="location"/>
    </v-container>

    <v-divider/>

    <div class="comment-section">
      <v-container>
        <h1>Comments section</h1>
      </v-container>

      <add-comment v-if="loggedIn" :entry-id="entryId"
                   @fetchComments="fetchComments()" @refetchComments="refetchComments()"/>

      <comments :auth-id="authId" v-if="comments" :comments="comments" :loggedIn="loggedIn"
                @refetchComments="refetchComments()"/>
    </div>
  </div>
</template>
<script>
  import AddComment from "./AddComment";
  import Comments from "./Comments";
  import MapComponent from "./Map";
  import router from "../router";

  export default {
    components: {AddComment, Comments, MapComponent},

    data() {
      return {
        entry: [],
        comments: [],
        isActive: false,
        entryId: null,
        page: 0,
        authId: null,
        location: null,
        fetchedCommentPages: [],
        selectedEntry: null,
        dialog: false,
      }
    },
    computed: {
      loggedIn() {
        return this.$store.getters.passAuthData
      },
    },
    created() {
      this.authId = this.$store.getters.passAuthData ? this.$store.getters.passAuthData.id : null
      this.entryId = this.$route.params.id
      this.fetchEntry();
    },
    beforeMount() {
      this.fetchComments()
    },
    methods: {
      async fetchEntry() {
        this.$http.get("entry/" + this.entryId).then(response => {
          this.entry = response.data
          this.location = response.data.location
        }).catch(() => {
          router.push({name: "Home"});
        })
      },
      getImage(fileName) {
        return "https://backend.ostrzezennik.pl/api/getEntryImageUrl/" + fileName;
      },
      async refetchComments() {
        this.fetchedCommentPages = [];
        this.page = 0;
        this.comments = [];
        this.fetchComments();
      },
      async fetchComments() {
        if (!this.fetchedCommentPages.includes(this.page)) {
          this.$http.get("comments/" + this.entryId + "/" + this.page).then(response => {

            this.comments = this.comments.concat(response.data.data);
            this.fetchedCommentPages = this.fetchedCommentPages.concat(this.page)
            this.page++
          })
        }
      },
      likeEntry(entryId) {
        this.$http.post("like/entry/" + entryId).then(() => {
          this.fetchEntry()
        })
      },
      dislikeEntry(entryId) {
        this.$http.post("dislike/entry/" + entryId).then(() => {
          this.fetchEntry()
        })
      },
      getLikeColor(action) {
        return action ? "#7acfd6" : "#f1f0ee"
      },
      getDislikeColor(action) {
        return action ? "#e0474c" : "#f1f0ee"
      },
      getFlagColor(action) {
        return action ? "#e0474c" : ""
      },
      flagEntry() {
        if (!this.selectedEntry.selfFlagged) {
          this.$http.post("flag/entry/" + this.selectedEntry.id).then(() => {
            this.selectedEntry.selfFlagged = true
            this.reportedMessage();
            this.close();
          }).catch(() => {
            this.close();
            this.reportFailedMessage()
          })
        }
      },
      reportedMessage() {
        this.$message({
          message: "Successfully reported the entry",
          showClose: true,
          duration: 2500,
          type: 'success'
        })
      },
      reportFailedMessage() {
        this.$message({
          message: "Failed to report the entry",
          showClose: true,
          duration: 2000,
          type: 'error'
        })
      },
      openModal(action, entry) {
        this.selectedEntry = entry;
        this.dialog = action;
      },
      deleteEntry() {
        this.$http.delete("entry/" + this.selectedEntry.id).then(() => {
          this.deletedMessage();
          this.close();
          this.$router.push({name: "Home"});
        }).catch(() => {
          this.close();
          this.deletionFailedMessage()
        })
      },
      deletedMessage() {
        this.$message({
          message: "Successfully deleted the entry",
          showClose: true,
          duration: 2500,
          type: 'success'
        })
      },
      deletionFailedMessage() {
        this.$message({
          message: "Failed to delete the entry",
          showClose: true,
          duration: 2000,
          type: 'error'
        })
      },
      countLikes(likes, dislikes) {
        return likes - dislikes;
      },
      close() {
        this.selectedEntry = null;
        this.dialog = null;
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .picture-wrapper {
    height: 400px;
    width: 300px;
    background: $grey;

    .picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .camera-icon {
    padding-top: 150px;

    .icon {
      color: $blue;
      font-size: 5rem !important;
    }
  }

  .entry-details {
    padding: 0 15px;

    h1 {
      margin: 0;
      color: $mainRed;
    }

    .author {
      font-size: .8rem;
    }

    .description {
      padding: 15px 0;
      display: block;
      word-wrap: break-word;
      width: 100%;
      white-space: normal
    }

    .created-at {
      font-size: .8rem;
    }
  }

  .buttons {
    .counter {
      padding-left: 15px;
      padding-right: 135px;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .comment-section {
    h1 {
      color: $mainRed;
    }
  }
</style>
