<template>
  <v-container>
    <v-dialog v-model="dialog" v-if="dialog === 'delete'" max-width="350">
      <v-card>
        <v-card-title class="headline">Should this be deleted?</v-card-title>
        <v-card-text>Description: <p>{{ selectedEntry.entry.description }}</p></v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="remove()">Delete</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" v-if="dialog === 'dismiss'" max-width="350">
      <v-card>
        <v-card-title class="headline">Should this be dismissed?</v-card-title>
        <v-card-text>Description: <p>{{ selectedEntry.entry.description }}</p></v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dismiss()">Dismiss</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" v-if="dialog === 'report'" max-width="350">
      <v-card>
        <v-card-title class="headline">Should this be reported?</v-card-title>
        <v-card-text>TITLE: {{ selectedEntry.entry.title }}</v-card-text>
        <v-card-text>DESCRIPTION: {{ selectedEntry.entry.description }}</v-card-text>
        <v-card-text>DATE: {{ moment(selectedEntry.entry.createdAt.date).format('YYYY-MM-DD hh:mm') }}</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="report()" :disabled="sendingEmail" :loading="sendingEmail">Report</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="management" v-if="reports">
      <v-data-table :headers="headers" :items="reports" :items-per-page="25"
                    class="elevation-1" hide-default-footer>
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Flagged entries</v-toolbar-title>
          </v-toolbar>
        </template>
        <template v-slot:item.createdAt="{ item }">
          {{ moment(item.entry.createdAt.date).format('YYYY-MM-DD hh:mm') }}
        </template>
        <template v-slot:item.action="{ item }">
          <v-icon @click.stop="selectEntry(item, 'dismiss')" color="green">mdi-checkbox-marked-circle-outline
          </v-icon>
          <v-icon @click.stop="selectEntry(item, 'delete')" color="red">mdi-close-circle-outline</v-icon>
        </template>
        <template v-slot:item.report="{ item }">
          <v-icon @click.stop="selectEntry(item, 'report')" color="red">mdi-email</v-icon>
        </template>
      </v-data-table>
    </div>

    <div class="text-xs-center">
      <v-pagination
              class="pagination"
              circle
              v-model="page"
              :length="totalPages"
              :total-visible="5"
              prev-icon="mdi-menu-left"
              next-icon="mdi-menu-right"/>
    </div>
  </v-container>
</template>
<script>
  export default {
    data: () => ({
      dialog: false,
      reports: [],
      headers: [
        {text: "Reports", value: "reportsNumber", sortable: false},
        {text: "Title", align: "left", value: "entry.title", sortable: false},
        {text: "Author", align: "left", value: "entry.user.username", sortable: false},
        {text: "Added", value: "createdAt", sortable: false},
        {text: 'Actions', value: 'action', sortable: false},
        {text: 'Report', value: 'report', sortable: false},
      ],
      page: 1,
      totalPages: null,
      selectedEntry: null,
      sendingEmail: false,
    }),

    created() {
      this.fetchFlaggedEntries();
    },

    watch: {
      "page": function () {
        this.fetchFlaggedEntries();
      },
    },

    methods: {
      async fetchFlaggedEntries() {
        this.$http.get("admin/flaggedEntries/" + (this.page - 1))
            .then(response => {
              this.reports = response.data.entries;
              this.totalPages = response.data.totalPages;
              this.scrollToTop();
            });
      },

      selectEntry(entry, action) {
        this.selectedEntry = entry;
        this.dialog = action;
      },

      remove() {
        this.$http.post("admin/entry/delete", {entryId: this.selectedEntry.entry.id})
            .then(() => {
              this.close();
              this.fetchFlaggedEntries();
              this.successMessage("deleted")
            })
            .catch(() => {
              this.failedMessage("delete")
              this.close();
            });
      },

      dismiss() {
        this.$http.post("admin/entry/dismiss", {reportId: this.selectedEntry.id})
            .then(() => {
              this.close();
              this.fetchFlaggedEntries();
              this.successMessage("dismissed")
            })
            .catch(() => {
              this.failedMessage("dismiss")
              this.close();
            });
      },

      report() {
        this.sendingEmail = true;
        this.$http.post("admin/entry/report", {reportId: this.selectedEntry.id})
            .then(() => {
              this.sendingEmail = false;
              this.close();
              this.fetchFlaggedEntries();
              this.successMessage("reported")
            })
            .catch(() => {
              this.sendingEmail = false;
              this.failedMessage("report")
              this.close();
            });
      },

      successMessage(action) {
        this.$message({
          message: "Successfully " + action + " entry",
          showClose: true,
          duration: 2500,
          type: 'success'
        })
      },

      failedMessage(action) {
        this.$message({
          message: "Failed to " + action + " entry",
          showClose: true,
          duration: 2000,
          type: 'error'
        })
      },

      close() {
        this.selectedEntry = null;
        this.dialog = null;
      },

      scrollToTop() {
        setTimeout(() => {
          window.scroll({
            top: 0,
            left: 0,
            behavior: "smooth"
          });
        }, 100);
      },
    },
  }
</script>
<style lang="scss" scoped>

</style>
