<template>
  <div>
    <img src="@/assets/banner.png" alt="Paris" style="width:100%">

    <v-container class="container">
      <h1>Check the most recent entries!</h1>

      <router-link :to="{ name: 'Home' }" class="route">
        <v-btn class="button">Check out</v-btn>
      </router-link>
    </v-container>
  </div>
</template>
<script>
  export default {}
</script>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .container {
    text-align: center;
    h1 {
      color: $mainRed;
      font-size: 2.5rem;
      padding-top: 50px;
      padding-bottom: 25px;
    }
    .button {
      background: $blue !important;
    }
  }
</style>
