<template>
  <list-entries v-if="entries.length" :entries="entries" @fetchEntries="fetchEntries()"/>
</template>
<script>
  import ListEntries from "./ListEntries";

  export default {
    components: {
      ListEntries
    },

    data() {
      return {
        entries: [],
        page: 0,
        fetchedEntryPages: []
      }
    },
    beforeMount() {
      this.fetchEntries()
    },
    methods: {
      fetchEntries() {
        if (!this.fetchedEntryPages.includes(this.page)) {
          this.$http.get("entries/" + this.page).then(response => {
            this.entries = this.entries.concat(response.data.data);
            this.fetchedEntryPages = this.fetchedEntryPages.concat(this.page)
            this.page++
          })
        }
      },
    }
  }
</script>
<style lang="scss" scoped>
</style>
