<template>
  <v-container v-if="entries">
    <v-row align="center" no-gutters>
      <v-card class="ma-2 pa-3" max-width="344" v-for="entry in entries" :key="entry.id">
        <v-list-item-content>
          <v-list-item-title class="headline">{{ entry.title }}</v-list-item-title>
          <v-list-item-subtitle v-if="entry.user" class="author">by: {{ entry.user.username }}</v-list-item-subtitle>
        </v-list-item-content>

        <v-img v-if="entry.picture" :src="getImage(entry.picture)" height="194"/>
        <div v-else class="picture-alternative"></div>

        <v-card-text class="description">{{ sliceDescription(entry.description) }}
        </v-card-text>

        <v-row align="center" no-gutters>
          <router-link class="read-more" :to="{name: 'Entry', params: {id: entry.id}}">
            <v-btn class="button" text>Read more</v-btn>
          </router-link>

          <v-spacer/>

          <v-card-actions icon v-if="loggedIn">
            <v-btn fab x-small :color="getLikeColor(entry.selfLiked)" @click="likeEntry(entry)">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-btn fab x-small :color="getDislikeColor(entry.selfDisliked)" @click="dislikeEntry(entry)">
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </v-card-actions>
        </v-row>
      </v-card>
    </v-row>
  </v-container>
</template>
<script>
  export default {
    props: {
      entries: {type: Array, required: true},
    },
    mounted() {
      this.scroll();
    },
    computed: {
      loggedIn() {
        return this.$store.getters.passAuthData
      },
    },
    methods: {
      likeEntry(entry) {
        this.$http.post("like/entry/" + entry.id).then(() => {
          if (entry.selfLiked) {
            entry.selfLiked = false
            entry.likesCount--
          } else if (entry.selfDisliked) {
            entry.selfDisliked = false
            entry.dislikesCount--
            entry.selfLiked = true
            entry.likesCount++
          } else {
            entry.selfLiked = true
            entry.likesCount++
          }
        })
      },
      dislikeEntry(entry) {
        this.$http.post("dislike/entry/" + entry.id).then(() => {
          if (entry.selfDisliked) {
            entry.selfDisliked = false
            entry.dislikesCount--
          } else if (entry.selfLiked) {
            entry.selfLiked = false
            entry.selfDisliked = true
            entry.likesCount--
            entry.dislikesCount++
          } else {
            entry.selfDisliked = true
            entry.dislikesCount++
          }
        })
      },
      getImage(fileName) {
        return "https://backend.ostrzezennik.pl/api/getEntryImageUrl/" + fileName;
      },
      getLikeColor(action) {
        return action ? "#7acfd6" : "#f1f0ee"
      },
      getDislikeColor(action) {
        return action ? "#e0474c" : "#f1f0ee"
      },
      scroll() {
        window.onscroll = () => {
          let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;

          if (bottomOfWindow) {
            this.$emit("fetchEntries")
          }
        };
      },
      sliceDescription(description) {
        if (description.length > 100) {
          return description.slice(0, 100) + "..."
        }
        return description
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .headline {
    color: $mainRed;
    padding-bottom: 5px;
  }

  .description {
    padding: 25px 0 !important;
  }

  .read-more .button {
    background: $secondaryRed;
    color: $grey
  }

  .read-more :hover {
    color: white;
    text-shadow: rgba(255, 255, 255, 0.25) 0 0 2px;
  }

  .author {
    font-size: .8rem;
  }

  .picture-alternative {
    width: 320px !important;
    min-height: 1px;
  }
</style>
