<template>
  <v-container>
    <v-card>
      <form v-on:submit.prevent="submit()" class="form">
        <v-text-field v-model="email" :error-messages="emailErrors"
                      label="Email" required
                      @input="$v.email.$touch()" @blur="$v.email.$touch()"/>

        <v-text-field v-model="password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showPassword ? 'text' : 'password'"
                      name="input-10-1" label="Password" hint="At least 6 characters"
                      counter required
                      @click:append="showPassword = !showPassword"
                      :error-messages="passwordErrors"
                      @input="$v.password.$touch()" @blur="$v.password.$touch()"/>

        <v-btn class="mr-4 submit-button" type="submit" :disabled="loading" :loading="loading" dark>submit</v-btn>
        <v-btn @click="clear" class="clear-button" dark>clear</v-btn>
      </form>
    </v-card>
  </v-container>
</template>
<script>
  import {validationMixin} from 'vuelidate'
  import {email, minLength, required} from 'vuelidate/lib/validators'

  export default {
    data() {
      return {
        showPassword: false,
        email: '',
        password: '',
        loading: false,
      }
    },

    mixins: [validationMixin],

    validations: {
      email: {required, minLength: minLength(3), email},
      password: {required},
    },

    computed: {
      emailErrors() {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push('Email is required.')
        return errors
      },
      passwordErrors() {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.required && errors.push('Password is required')
        return errors
      },
    },

    methods: {
      submit() {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          this.loading = true;
          let data = {
            email: this.email,
            password: this.password,
          };
          this.$http.post("login", data).then(response => {
            let token = response.data.access_token;
            this.$auth.setToken(token);
            this.$http.defaults.headers.common["Authorization"] = "Bearer " + token;
            this.$auth.fetchAuthData();
            this.loggedInMessage();
            this.loading = false;
            this.$router.push({name: "Home"});
          }).catch(error => {
            let message = error.response.data.message
            this.loginFailedMessage(message);
            this.loading = false;
          })
        }
      },
      clear() {
        this.$v.$reset()
        this.email = ''
        this.password = ''
      },
      loggedInMessage() {
        this.$message({
          message: "Successfully logged in",
          showClose: true,
          duration: 2500,
          type: 'success'
        })
      },
      loginFailedMessage(message) {
        this.$message({
          message: message,
          showClose: true,
          duration: 5000,
          type: 'error'
        })
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .form {
    padding: 10px !important;
  }

  .submit-button {
    background: $secondaryRed !important;
  }

  .clear-button {
    background: $blue !important;
  }
</style>
