<template>
  <div class="wrapper">
    <l-map :zoom="zoom" :center="[51.20, 16.15]">
      <l-tile-layer :url="url" :attribution="attribution"/>
      <l-marker :lat-lng="marker"/>
    </l-map>
  </div>
</template>
<script>
  import {LMap, LMarker, LTileLayer} from 'vue2-leaflet'
  import L from 'leaflet';

  L.Icon.Default.mergeOptions({
    iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
    iconUrl: require('leaflet/dist/images/marker-icon.png'),
    shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
    iconSize: [25, 41],
    iconAnchor: [12, 20],
  });

  export default {
    components: {LMap, LTileLayer, LMarker},

    props: {
      location: {required: true, type: Object},
    },

    data() {
      return {
        zoom: 13,
        url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        marker: L.latLng(this.location.x, this.location.y),
      }
    },
    methods: {
      zoomUpdated(zoom) {
        this.zoom = zoom;
      },
      centerUpdated(center) {
        this.center = center;
      },
    }
  }
</script>
<style lang="scss" scoped>
  .wrapper {
    width: 100%;
    height: 400px;
    padding: 25px 0;
  }
</style>
