<template>
  <v-container>
    <v-card>
      <form v-on:submit.prevent="submit()" class="form">
        <v-text-field
                v-model="username"
                :error-messages="usernameErrors"
                :counter="15"
                label="Username"
                required
                @input="$v.username.$touch()"
                @blur="$v.username.$touch()"
        ></v-text-field>

        <v-text-field
                v-model="email"
                :error-messages="emailErrors"
                label="E-mail"
                required
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
        ></v-text-field>

        <v-text-field
                v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                name="input-10-1"
                label="Password"
                hint="At least 6 characters"
                counter
                @click:append="showPassword = !showPassword"
                required
                :error-messages="passwordErrors"
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
        ></v-text-field>

        <v-text-field
                v-model="confirmPassword"
                :append-icon="showPasswordConfirmation ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                name="input-10-1"
                counter
                :error-messages="repeatPasswordErrors"
                label="Repeat password"
                required
                @click:append="showPasswordConfirmation = !showPasswordConfirmation"
                @input="$v.confirmPassword.$touch()"
                @blur="$v.confirmPassword.$touch()"
        ></v-text-field>

        <v-btn class="mr-4 submit-button" type="submit" :disabled="loading" :loading="loading" dark>submit</v-btn>
        <v-btn @click="clear" class="clear-button" dark>clear</v-btn>
      </form>
    </v-card>
  </v-container>
</template>
<script>
  import {validationMixin} from 'vuelidate'
  import {alphaNum, email, maxLength, minLength, required, sameAs} from 'vuelidate/lib/validators'

  export default {
    data() {
      return {
        showPassword: false,
        showPasswordConfirmation: false,
        username: '',
        email: '',
        password: '',
        confirmPassword: '',
        loading: false,
        errors: [],
      }
    },

    mixins: [validationMixin],

    validations: {
      username: {required, minLength: minLength(3), maxLength: maxLength(15), alphaNum},
      email: {required, email},
      password: {required, minLength: minLength(6), maxLength: maxLength(50)},
      confirmPassword: {sameAsPassword: sameAs('password')}
    },

    computed: {
      usernameErrors() {
        let errors = this.errors.username ? this.errors.username : [];
        if (!this.$v.username.$dirty) return errors
        !this.$v.username.minLength && errors.push('Name must be at least 3 characters long')
        !this.$v.username.maxLength && errors.push('Name must be at most 15 characters long')
        !this.$v.username.alphaNum && errors.push('Name may only contain letters and numbers')
        !this.$v.username.required && errors.push('Name is required.')
        return errors
      },
      emailErrors() {
        let errors = this.errors.email ? this.errors.email : [];
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Must be valid e-mail')
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      },
      passwordErrors() {
        let errors = this.errors.password ? this.errors.password : [];
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.maxLength && errors.push('Password must be at least 6 characters long')
        !this.$v.password.maxLength && errors.push('Password must be at most 50 characters long')
        !this.$v.password.required && errors.push('Password is required')
        return errors
      },
      repeatPasswordErrors() {
        let errors = this.errors.confirmPassword ? this.errors.confirmPassword : [];
        if (!this.$v.confirmPassword.$dirty) return errors
        !this.$v.confirmPassword.sameAsPassword && errors.push('Passwords must be identical')
        return errors
      },
    },

    methods: {
      submit() {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          this.loading = true;
          this.errors = [];
          let data = {
            username: this.username,
            email: this.email,
            password: this.password,
            confirmPassword: this.confirmPassword,
          };
          this.$http.post("register", data).then(() => {
            this.registeredMessage();
            this.loading = false;
            this.$router.push({name: "Login"});
          }).catch(error => {
            this.errors = error.response.data.messages;
            this.registrationFailedMessage();
            this.loading = false;
          })
        }
      },
      clear() {
        this.$v.$reset()
        this.username = ''
        this.email = ''
        this.password = ''
        this.confirmPassword = ''
      },
      registeredMessage() {
        this.$message({
          message: "Successfully registered",
          showClose: true,
          duration: 3500,
          type: 'success'
        })
      },
      registrationFailedMessage() {
        this.$message({
          message: "Failed to register",
          showClose: true,
          duration: 2000,
          type: 'error'
        })
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .form {
    padding: 10px !important;
  }

  .submit-button {
    background: $secondaryRed !important;
  }

  .clear-button {
    background: $blue !important;
  }
</style>
