<template>
    <v-container>
      <v-card>
        <v-card-text>
          <v-row align="center">
            <v-checkbox v-model="filterCity"
                        hide-details class="shrink mr-2 mt-0"/>
            <v-text-field
                    v-model="address" :disabled="!filterCity"
                    label="Filter entries by city"/>
          </v-row>

          <v-row align="center">
            <v-checkbox v-model="filterUsername"
                        hide-details class="shrink mr-2 mt-0"/>
            <v-text-field
                    v-model="username" :disabled="!filterUsername"
                    label="Filter entries by author's username"/>
          </v-row>

          <v-row align="center" v-if="categories.length">
            <v-checkbox v-model="filterCategory"
                        hide-details
                        class="shrink mr-2 mt-0"/>
            <v-select v-model="category" :items="categories" :disabled="!filterCategory"
                      label="Category" item-value="id" item-text="name"
                      dense/>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn class="search-button" dark text @click="fetchFilteredEntries()">
            <v-icon left>mdi-magnify</v-icon>
            Search
          </v-btn>
        </v-card-actions>
      </v-card>

      <list-entries class="entries" v-if="entries.length" :entries="entries" @fetchEntries="fetchNextFilteredEntries()"/>
    </v-container>
</template>
<script>
  import {alphaNum, maxLength, minLength} from 'vuelidate/lib/validators'
  import {validationMixin} from "vuelidate";
  import ListEntries from "./ListEntries";

  export default {
    mixins: [validationMixin],

    validations: {
      username: {minLength: minLength(3), maxLength: maxLength(15), alphaNum},
      address: {minLength: minLength(3), maxLength: maxLength(50)},
    },

    components: {
      ListEntries,
    },

    data() {
      return {
        categories: [],
        filterUsername: false,
        username: "",
        filterCity: false,
        address: "",
        filterCategory: false,
        category: "",
        page: 1,

        data: {},
        entries: [],
        fetchedEntryPages: [],
      }
    },
    created() {
      this.fetchCategories()
    },

    methods: {
      async fetchCategories() {
        this.$http.get("categories").then(response => {
          this.categories = response.data
        })
      },
      async fetchFilteredEntries() {
        this.data.username = this.filterUsername ? this.username : ""
        this.data.address = this.filterCity ? this.address : ""
        this.data.categoryId = this.filterCategory ? this.category : ""

        this.entries = []
        this.fetchedEntryPages = []
        this.$v.$touch()
        if (!this.$v.$invalid) {
          let firstPage = 0

          this.$http.post("/search/entries/" + firstPage, this.data).then(response => {
            if (!this.fetchedEntryPages.includes(firstPage)) {
              this.entries = this.entries.concat(response.data.data);
              this.fetchedEntryPages = this.fetchedEntryPages.concat(firstPage)
              if (!this.entries.length) {
                this.noEntriesMessage()
              }
            }
          })
        }
      },

      noEntriesMessage() {
        this.$message({
          message: "No matching entries found",
          showClose: true,
          duration: 2000,
          type: 'error'
        })
      },

      async fetchNextFilteredEntries() {
        if (!this.fetchedEntryPages.includes(this.page)) {
          this.$http.post("/search/entries/" + this.page, this.data).then(response => {
            this.entries = this.entries.concat(response.data.data);
            this.fetchedEntryPages = this.fetchedEntryPages.concat(this.page)
            this.page++
          })
        }
      },
    }
  }
</script>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .search-button {
    background: $secondaryRed;
  }
</style>
