<template>
  <v-container>
    <v-dialog v-model="dialog" v-if="dialog === 'ban'" max-width="350">
      <v-card>
        <v-card-title class="headline">Are sure you want to ban <p>{{ selectedUser.username }}?</p></v-card-title>
        <v-card-text>The user will no longer be able to log on their account.</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="ban()">Ban</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" v-if="dialog === 'unban'" max-width="350">
      <v-card>
        <v-card-title class="headline">Are sure you want to unban {{ selectedUser.username }}?</v-card-title>
        <v-card-text>The user will be able to log in and add new content.</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="unban()">Unban</v-btn>
          <v-btn text @click="close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="management" v-if="users">
      <v-data-table :headers="headers" :items="users" :items-per-page="25"
                    class="elevation-1" hide-default-footer>
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Użytkownicy</v-toolbar-title>
          </v-toolbar>
        </template>
        <template v-slot:item.createdAt="{ item }">
          {{ moment(item.createdAt.date).format('YYYY-MM-DD hh:mm') }}
        </template>
        <template v-slot:item.action="{ item }">
          <v-icon @click.stop="selectUser(item, 'unban')" color="red" v-if="item.isBanned">mdi-account-check
          </v-icon>
          <v-icon @click.stop="selectUser(item, 'ban')" v-else>mdi-account-remove</v-icon>
        </template>
      </v-data-table>
    </div>

    <div class="text-xs-center">
      <v-pagination
              class="pagination"
              circle
              v-model="page"
              :length="totalPages"
              :total-visible="5"
              prev-icon="mdi-menu-left"
              next-icon="mdi-menu-right"/>
    </div>
  </v-container>
</template>
<script>
  export default {
    data: () => ({
      dialog: false,
      users: [],
      headers: [
        {text: "Id", value: "id", sortable: false},
        {text: "Name", align: "left", value: "username", sortable: false},
        {text: "Registered", value: "createdAt", sortable: false},
        {text: 'Actions', value: 'action', sortable: false},
      ],
      page: 1,
      totalPages: null,
      selectedUser: null,
    }),

    created() {
      this.fetchUsers();
    },

    watch: {
      "page": function () {
        this.fetchUsers();
      },
    },

    methods: {
      async fetchUsers() {
        this.$http.get("admin/users/" + (this.page - 1))
            .then(response => {
              this.users = response.data.users;
              this.totalPages = response.data.totalPages;
              this.scrollToTop();
            });
      },

      selectUser(user, action) {
        this.selectedUser = user;
        this.dialog = action;
      },

      ban() {
        this.$http.post("admin/user/ban", {userId: this.selectedUser.id})
            .then(() => {
              this.close();
              this.fetchUsers();
              this.successMessage("banned")
            })
            .catch(() => {
              this.failedMessage("ban")
              this.close();
            });
      },

      unban() {
        this.$http.post("admin/user/unBan", {userId: this.selectedUser.id})
            .then(() => {
              this.close();
              this.fetchUsers();
              this.successMessage("unbanned")
            })
            .catch(() => {
              this.failedMessage("unban")
              this.close();
            });
      },

      successMessage(action) {
        this.$message({
          message: "Successfully " + action + " user",
          showClose: true,
          duration: 2500,
          type: 'success'
        })
      },

      failedMessage(action) {
        this.$message({
          message: "Failed to " + action + " user",
          showClose: true,
          duration: 2000,
          type: 'error'
        })
      },

      close() {
        this.selectedUser = null;
        this.dialog = null;
      },

      scrollToTop() {
        setTimeout(() => {
          window.scroll({
            top: 0,
            left: 0,
            behavior: "smooth"
          });
        }, 100);
      },
    },
  }
</script>
<style lang="scss" scoped>

</style>
