<template>
  <v-app class="app">
    <app-header class="header"></app-header>
    <v-content class="content">
      <router-view></router-view>
    </v-content>
    <app-footer class="footer"></app-footer>

    <vue-particles id="particles-js"
                   color="#f1f0ee"
                   :particleOpacity="0.7"
                   :particlesNumber="80"
                   shapeType="circle"
                   :particleSize="4"
                   linesColor="#99D3DF"
                   :linesWidth="1"
                   :lineLinked="true"
                   :lineOpacity="0.4"
                   :linesDistance="150"
                   :moveSpeed="3"
                   :hoverEffect="true"
                   hoverMode="grab"
                   :clickEffect="true"
                   clickMode="push"/>
  </v-app>
</template>

<script>
  import AppHeader from './components/Layout/Header';
  import AppFooter from './components/Layout/Footer';

  export default {
    name: 'App',

    components: {
      AppHeader,
      AppFooter,
    },

    created() {
      this.$auth.refreshData()
    },
  }
</script>
<style lang="scss">
  @import './assets/colors.scss';

  #particles-js {
    position: fixed !important;
    z-index: 0;
    height: 100%;
    width: 100%;
  }

  .content {
    z-index: 100;
  }

  .header {
    z-index: 200 !important;
    background: $mainRed !important;
  }

  .footer {
    z-index: 200 !important;
  }
</style>
